@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
 background-image: url('https://www.shutterstock.com/shutterstock/videos/1106883657/thumb/1.jpg?ip=x480');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-color: #f4f7f6; 

  
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Base styles for all inputs and buttons */
input[type="text"], button {
    border-radius: 4px;
    transition: all 0.2s;
    outline: none; /* Remove default focus outline */
}

/* Hover effect for buttons */
button:hover {
    opacity: 0.9;
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}